* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */

body { 
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffa500;
}

header {
    background-color: #ffe380;
    color: black;
    padding: 40px 40px 20px 40px;
}

.header-content {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

header h1 {
    color: #b38b00;
    font-size: 50px;
}

ul {
    list-style-type: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    font-size: 20px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 800;
    color: #333;
    transition: color 0.2s ease;
}

nav ul li a:hover {
    color: #b38b00;
}

.profile_pictures {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    animation: rotateAnimation 10s linear infinite;
    transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease;
}

img.profile_pictures:hover {
    width: 460px; 
    height: 460px; 
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#banner {
    padding: 50px 20px 50px 20px;
    text-align: center;
}

#banner h2 {
    font-size: 40px;
    margin: 20px;
}

#banner p {
    font-size: 20px;
}

.section1 {
    background-color: #ffe380;
    padding: 40px;
    line-height: 2;
    font-size: 20px;
    text-align: center;
}

.section2 { 
    background-color: #FFF1BF;
}

/* shop 페이지 */

#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
    list-style-type: none;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    width: 200px;
    box-sizing: border-box;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card h2 {
    font-size: 1.2em;
    margin: 0 0 10px 0;
    color: #333;
}

.product-card p {
    margin: 10px 0;
    color: #555;
}

.product-card p strong {
    color: #000;
}
